.content {
    margin: 128px;
    margin-top: 1em;
    margin-bottom: 1em;
    &>i{
        display: table;
        color: #484848;
        font-size: 3em;
        margin: auto;
        padding: auto;
    }
    .card{
        &:first-child{
            margin-top: 3.75em;
        }
        box-shadow: 0 0 2px rgba(16, 16, 16, 0.3);
        margin: 5.5em 0;
        .card-header{
            background-color: #1abc9c;
            color: white;
            padding: 1.5em;
            font-weight: bold;
            font-size: 1.125em; 
            .report{
                background-color: #bc7e52;
            }
        }
        .card-content{
            background-color: #ffffff;
            color: black;
            padding: 1.5em;
            line-height: 150%; 
            textarea{
                padding: 1.5em;
                resize: none;
                outline: none; 
            }
            pre{
                white-space: pre-line;
                word-wrap: break-word;
            }
            input {
                font-family: "Roboto", sans-serif;
                outline: 0;
                background: #f2f2f2;
                width: 100%;
                border: 0;
                margin: 0 0 15px;
                padding: 15px;
                box-sizing: border-box;
                font-size: 14px;
              }
        }
        .card-footer{
            background-color: #ffffff;
            border-top: 1px solid #e0e0e0;
            color: #888888;
            padding: 1.5em;
            text-align: right;
            font-size: 0.5em;
            line-height: 1.6;
            .button-fb{
                background-color: #3a6fdb;
                color: white;
                font-size: 1rem;
                padding: 0.75em;
                float: left;
                width: 240px;
                text-align: center;
                &:hover{
                    cursor: pointer;
                    background-color: #2b59cf;
                }
            }
            .button-allow{
                background-color: #3a6fdb;
                color: white;
                font-size: 1rem;
                padding: 0.75em;
                float: left;
                width: 200px;
                text-align: center;
                &:hover{
                    cursor: pointer;
                    background-color: #2b59cf;
                }
            }
            .button-reject{
                background-color: #E60A2F;
                color: white;
                font-size: 1rem;
                padding: 0.75em;
                float: left;
                width: 200px;
                text-align: center;
                &:hover{
                    cursor: pointer;
                    background-color: #D0092C;
                }
            }
            .button-login{
                background-color: #3a6fdb;
                color: white;
                font-size: 1rem;
                padding: 0.75em;
                display: table;
                margin-left: auto;
                margin-right: auto;
                width: 240px;
                text-align: center;
                &:hover{
                    cursor: pointer;
                    background-color: #2b59cf;
                }
            }
        }
    }
}
.main{
    margin-left: 240px;
    .more{
        background-color: #1abc9c;
        color: white;
        font-size: 1rem;
        padding: 0.75em;
        width: 140px;
        text-align: center;
        margin-bottom: 1em;
        &:hover{
            cursor: pointer;
            background-color: #1abc99;
        }
    }
    .button-logout{
        background-color: #3a6fdb;
        color: white;
        font-size: 1rem;
        padding: 0.75em;
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: 240px;
        text-align: center;
        &:hover{
            cursor: pointer;
            background-color: #2b59cf;
        }
    }
}

@keyframes logo {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-4px);
    }
    75% {
        transform: translateX(4px);
    }
    100% {
        transform: translateX(0px);
    }
}

@media only screen and (max-width: 1080px) {
    * {
        font-size: 14px;
    }
    .main {
        margin-left: 200px;
        .more{
            margin-top:32px;
        }
    }
    .content {
        margin: 64px;
        .card{
            .card-footer{
                .button-fb{
                    width: 140px;
                }
                .button-allow,.button-reject,.button-logout{
                    width: 140px;
                }
                .wrapper{
                    font-size:15px;
                }
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    * {
        font-size: 14px;
    }
    .main {
        margin-left: 0;
        .more{
            margin-top:16px;
        }
    }
    .content {
        margin: 32px;
        .card{
            .card-footer{
                font-size: 1em;
                .button-fb{
                    width:100px;
                }
                .button-allow,.button-reject,.button-logout{
                    width: 100px;
                }
                .wrapper{
                    font-size:12px;
                }
            }
            
        }
    }
    
}